*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #17181F;
 color: #ddd;
 

}
main{
  
  padding: 5px 7px;
  margin: 30px auto;
  border-radius: 5px;
  
  height: 100%;
  width: 100%;
  

}
main h1{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  
}
div.basic{
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 0.7rem;
}
 form input{
  background-color: transparent;
  padding: 5px 7px;
  border-radius: 5px;
  color: #ddd;
  border: 2px solid #30313d;
  
}
form input[type="date"]{
  color: #777;

}
form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}

div.transaction{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px 0;
  margin-bottom: 5px;
  border-top:1px solid #30313d ;

}
div.transaction:first-child{
  border: 0;
}
div.transaction div.name{
  font-size: 1rem;
}
div.transaction div.description{
  font-size: 0.8rem;
  color: #888;
}
div.green{
  color: #1c1;
}
div.red{
  color: #c11;
}
div.datetime{
  font-size: 0.8rem;
  color: #888;

}